<!--
<div class="navbar-xs">
    <div class="navbar-primary">
        <nav class="navbar navbar-default" role="navigation">
            &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;
        </nav>
    </div>
    </div>
-->
<div>

 <div class="row footer-thumbnail">

     <div class="col-md-2">
         &nbsp;
     </div>
     <div class="col-md-8 text-center">

         <span style="font-family: serif;font-weight: 700">﻿﻿&copy; 2023 by Inquiry. Proudly created with inquiry.com</span>
     </div>
     <div class="col-md-2 text-right">
            <img src="images/facebook-icon.png"/>
         <img src="images/twitter-icon.png"/>
         <img src="images/Google-Plus-13-icon.png"/>
         <img src="images/youtube-icon.png"/>
     </div>
 </div>

</div>
































































































