
<div style="padding:5px;" class="thumbnail transparent-background">
    <div class="row">
        <div class="col-md-2">
            <span class="icon-header-text">OUR PARTNERS</span>
        </div>
        <div class="col-md-1">
            <img src="images/partner1.png"/>
        </div>
        <div class="col-md-1">
            <img src="images/partner2.png"/>
        </div>
        <div class="col-md-1">
            <img src="images/partner3.png"/>
        </div>
        <div class="col-md-1">
            <img src="images/partner4.png"/>
        </div>
        <div class="col-md-1">
            <img src="images/partner5.png"/>
        </div>
        <div class="col-md-1">
            <img src="images/partner6.png"/>
        </div>
        <div class="col-md-1">
            <img src="images/partner7.png"/>
        </div>
        <div class="col-md-1">
            <img src="images/partner3.png"/>
        </div>
        <div class="col-md-1">
            <img src="images/partner4.png"/>
        </div>
        <div class="col-md-1">
            <img src="images/Logitech_3.png"/>
        </div>
    </div>
</div>