
<div style="background-color: rgba(255,255,255,0.6);margin-top:2px; " class="hovermenu-thumbnail">
<nav id="cbp-hrmenu" class="cbp-hrmenu" style="font-size:100%;">
    <ul>
        <li>
            <a href="#">PAY BILLS & RECHARGE</a>
            <div class="cbp-hrsub">
                <h4>PAY BILLS & RECHARGE</h4><br/>
                <div class="cbp-hrsub-inner">
                    <div>
                        <h4 class="text-left">Recharge</h4><br/>
                        <ul>
                            <li><a ui-sref="mobileprepaid" ng-click="collapse.isSearchCollapsed=true;collapse.isSignUpCollapsed=true;"><img src="images/Mobile-Device-icon.png"/>&nbsp;Mobile</a></li>

                            <li><a ui-sref="dth" ng-click="collapse.isSearchCollapsed=true;collapse.isSignUpCollapsed=true;"><img src="images/tv.png"/>&nbsp;DTH</a></li>

                            <li><a ui-sref="datacard" ng-click="collapse.isSearchCollapsed=true;collapse.isSignUpCollapsed=true;"><img src="images/USB-Flash-Card-With-Card-Reader-icon.png"/>&nbsp;Data Card</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="text-left">Other Payments</h4><br/>
                        <ul>

                            <li><a ui-sref="electricity" ng-click="collapse.isSearchCollapsed=true;collapse.isSignUpCollapsed=true;"><img src="images/Box-29-Electricity-icon.png"/>&nbsp;Electricity</a></li>
                            <li><a ui-sref="gas" ng-click="collapse.isSearchCollapsed=true;collapse.isSignUpCollapsed=true;"><img src="images/gas-tube-icon.png"/>&nbsp;Gas</a></li>
                            <li><a ui-sref="insurance"  ng-click="collapse.isSearchCollapsed=true;collapse.isSignUpCollapsed=true;"><img src="images/Return-Policy-icon.png"/>&nbsp;Insurance</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="text-left">Bill Payments</h4><br/>
                        <ul>
                            <li><a ui-sref="mobilepostpaid" ng-click="collapse.isSearchCollapsed=true;collapse.isSignUpCollapsed=true;"><img src="images/Phone-icon.png"/>&nbsp;Mobile</a></li>

                            <li><a ui-sref="landline" ng-click="collapse.isSearchCollapsed=true;collapse.isSignUpCollapsed=true;"><img src="images/phone-icon.png"/>&nbsp;Landline</a></li>

                        </ul>
                    </div>




                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">ELECTRONICS</a>
            <div class="cbp-hrsub">
                <h4>ELECTRONICS</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div>Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">HOTEL</a>
            <div class="cbp-hrsub">
                <h4>HOTEL</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">TRAVEL</a>
            <div class="cbp-hrsub">
                <h4>TRAVEL</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">REAL STATE</a>
            <div class="cbp-hrsub">
                <h4>REAL STATE</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">JOBS</a>
            <div class="cbp-hrsub">
                <h4>JOBS</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">HOME TUTOR</a>
            <div class="cbp-hrsub">
                <h4>HOME TUTOR</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">BOOK</a>
            <div class="cbp-hrsub">
                <h4>BOOK</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">SPORTS & HEALTH</a>
            <div class="cbp-hrsub">
                <h4>SPORTS & HEALTH</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">SPORTS & HEALTH</a>
            <div class="cbp-hrsub">
                <h4>SPORTS & HEALTH</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>
        <li>
            <a href="#">GYM</a>
            <div class="cbp-hrsub">
                <h4>GUM</h4>
                <div class="cbp-hrsub-inner">
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/car-icon.png"/></a><div class="text-center">Taxi</div></li>
                        </ul>
                    </div>

                    <div>
                        <ul>
                            <li><a href="#"><img src="images/hotel-icon.png"/></a>Hotel</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/doctor-man-icon.png"/></a>Doctor</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/Travel-Airplane-icon.png"/></a>Aeroplane</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="#"><img src="images/tank-wagon-icon.png"/></a>Train</li>
                        </ul>
                    </div>


                </div><!-- /cbp-hrsub-inner -->
            </div><!-- /cbp-hrsub -->
        </li>


    </ul>
<div>

</div>
</nav>
        <script src="../js/common/cbpHorizontalMenu.js"></script>
<script>
    $(function() {
        cbpHorizontalMenu.init();
    });
</script>
</div>
<div  collapse="collapse.isSearchCollapsed">
<div class="row thumbnail" style="margin-left:1px;margin-right:1px; background-color:rgba(255,255,255,0.6);margin-top:10px;">
 <div class="col-md-12">

        <div class="row">
            <div class="col-md-12" style="background-color:#2C64B4;">
                <div class="header-text-row">{{currentDate|date:'MMM,dd yyyy'}},Delhi</div>
            </div>
        </div>
        <div class="row" style="padding-top:5px;padding-bottom:10px;">
            <div class="col-md-12 text-center">
                <form class="form-inline" ng-submit="getResult(newQuery)" >
                    <div class="form-group form-group-xs" mass-autocomplete >
                        <label class="sr-only">Location</label>
                        <input type="text" ng-model="newQuery.key" placeholder="Enter Search Text" typeahead="address for address in getAutocompleteSearchKey($viewValue)" typeahead-loading="loadingLocations" class="form-control input-sm">
                    </div>
                    <div class="form-group form-group-xs" mass-autocomplete>
                        <label class="sr-only">Location</label>
                        <input type="text" ng-model="newQuery.location" placeholder="Search Location" typeahead="address for address in getAutocompleteLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control input-sm">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Find</button>
                </form>
            </div>
        </div>

    </div>

</div>
</div>

<div collapse="collapse.isSignUpCollapsed">
<div class="row">
    <div class="col-md-12 text-center">
        <div class="thumbnail transparent-background">
            <div class="row">
                <div class="col-md-1">
      <span class="icon-header-text">SIGNUP</span>
                </div>
                <div class="col-md-10">

                    <form class="form-inline">



                        <div class="form-group">
                            <label class="sr-only"> </label>
                            <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                        </span>

                                <input type="text" class="form-control" value="name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only"> </label>
                            <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                        </span>

                                <input type="password" class="form-control" value="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only"> </label>
                            <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                        </span>

                                <input type="text" class="form-control" value="email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only"> </label>
                            <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                        <i class="fa fa-mobile"></i>
                        </span>

                                <input type="text" class="form-control" value="phone"/>
                            </div>
                        </div>



                        <button class="btn btn-primary btn-sm" type="button" ng-click="register()">singup</button>
                    </form>
                </div>
                <div class="col-md-1">

                </div>
            </div>
        </div>
    </div>
</div>
</div>