<div class="row">
    <div class="col-md-12">
        <div class="transparent-background thumbnail">
            <div style="padding:5px;">
                <div class="row">
                    <div class="col-md-3" style="">
                        <div class="pull-right">
                            <a href="#" class="push_button darkblue" style="margin-top:0px;">Home</a>
                            <a href="#" class="push_button darkblue">About</a>
                            <a href="#" class="push_button darkblue">Contact</a>
                            <a href="#" class="push_button darkblue">Blog</a>
                            <a href="#" class="push_button darkblue">Blog</a>
                            <a href="#" class="push_button darkblue">Blog</a>
                        </div>
                    </div>

                    <div class="col-md-6" style="padding-left:0px;">
                        <carousel interval="5000">
                            <slide>
                                <img src="images/banner1.jpg"/>
                            </slide>
                            <slide>
                                <img src="images/banner2.jpg"/>
                            </slide>
                            <slide>
                                <img src="images/banner3.jpg"/>
                            </slide>
                            <slide>
                                <img src="images/banner4.jpg"/>
                            </slide>
                            <slide>
                                <img src="images/banner5.jpg"/>
                            </slide>
                            <slide>
                                <img src="images/banner6.jpg"/>
                            </slide>

                        </carousel>
                    </div>
                    <div class="col-md-3 text-center" style="padding-left:0px;">
                        <div class="pull-left">
                            <div class="infobox-container">

                                <div class="triangle-r"></div>
                                <div class="infobox">
                                    <h3><span>Welcome To Inquiry</span></h3>
                           <span>I'm a paragraph. Click here to add your own text and edit me. It’s easy.
                               Just click “Edit Text” or double click me and you can start adding your own
                               content and make changes to the font.>I'm a paragraph. Click here to add your own text and edit me. It’s easy.
                               Just click “Edit Text” or double click me and you can start adding your own
                               content and make changes to the font.>I'm a paragraph. Click here to add your own text and edit me. It’s easy.
                           edit this ocntent
                           </span>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-2">
                        <form class="thumbnail transparent-background">
                            <div class="form-group ">
                                <label class="sr-only">Username</label>
                                <input type="text" class="form-control" size="5" ng-model="user.first"/>
                            </div>

                            <div class="form-group ">
                                <label class="sr-only">Username</label>
                                <input type="text" class="form-control" size="5" ng-model="user.last"/>
                            </div>
                            <div class="form-group ">
                                <label class="sr-only">Username</label>
                                <input type="text" class="form-control" size="5" ng-model="user.email"/>
                            </div>
                            <div class="form-group ">
                                <label class="sr-only">Username</label>
                                <input type="text" class="form-control" size="5" ng-model="user.phone"/>
                            </div>
                            <div class="form-group ">
                                <label class="sr-only">Username</label>
                                <input type="text" class="form-control" size="5" ng-model="user.company"/>
                            </div>
                            <button type="button" class="btn btn-primary btn-block">SignUp</button>
                        </form>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="transparent-background thumbnail">
            <div style="padding:5px;">
                <div class="row">
                    <div class="col-md-2">
                        <span class="icon-header-text">OUR PARTNERS</span>
                    </div>
                    <div class="col-md-1">
                        <img src="images/partner1.png"/>
                    </div>
                    <div class="col-md-1">
                        <img src="images/partner2.png"/>
                    </div>
                    <div class="col-md-1">
                        <img src="images/partner3.png"/>
                    </div>
                    <div class="col-md-1">
                        <img src="images/partner4.png"/>
                    </div>
                    <div class="col-md-1">
                        <img src="images/partner5.png"/>
                    </div>
                    <div class="col-md-1">
                        <img src="images/partner6.png"/>
                    </div>
                    <div class="col-md-1">
                        <img src="images/partner7.png"/>
                    </div>
                    <div class="col-md-1">
                        <img src="images/partner3.png"/>
                    </div>
                    <div class="col-md-1">
                        <img src="images/partner4.png"/>
                    </div>
                    <div class="col-md-1">
                        <img src="images/Logitech_3.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>